/* Для описания используемых переменных */
:root {
  --white: #fff;
  --night-rider: #333; /*текст*/
  --nobel: #999; /*блеклый текст */
  --wisteria: #C283F3; /* кнопки, выделения, в блоке editions кнопка выбора в категориях */
  --amethyst: #9D5CD0; /* в событиях Подробнее в блоке editions фон цены, обрамление кнопок*/
  --black: #000; /*шапка и футер*/
  --vl-grey: #cacaca;
}
